// Part 5


// Form for Delete Link
<form action="/sig/delete" method="POST">
    <input type="hidden" name="_csurf" value="{{csrfToken}}">
    <input type="hidden" name="user" value="{{userId}}">
    <button>Delete</button>
</form>

// Postdeko -- PG Commander

// Referancial Integrity
