<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:700|Roboto:100,400,400i&display=swap" rel="stylesheet">
        <meta
            name="Let's just walk..."
            content="Banning services like Lime"
        />
                <script src="https://kit.fontawesome.com/fdb45bb1d8.js"></script>
    </head>

    <body>
        <header>
            <div class="navigation-logoname">
                <h1>The "Let's just Walk..." Petition </h1>
            </div>
            <div class="navigation-icons">
                <a href="https://de-de.facebook.com/gretathunbergsweden/" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://twitter.com/hashtag/escooter?lang=de" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/explore/tags/escooterlife/?hl=de" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.pinterest.de/alicelindl/escooter-electric-scooter/" target="_blank"><i class="fab fa-pinterest-square"></i></a>

            </div>

        </header>
        {{{body}}}
        <footer>
            <h3>a Petition by Sven Kranz</h3>
        </footer>

        <script src="script.js" charset="utf-8"></script>
    </body>


</html>
