<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/styles.css">
<title>{{Title}}</title>
    </head>

    <body>
        <header>
            {{{body}}}
        </header>
        <footer>
            &copy SvenKranz
        </footer>

        <script src="script.js"></script>
    </body>


</html>
