<title>{{Title}}</title>

<h1>Give me your personal Info - its optional.</h1>
<h2>I can already stalk you anyway, {{name}}</h2>
<img src="/" alt="Picture" class="MainPicture">

    <form method="POST">
    <div id="SignatureFieldValue">

            <h4>Age</h4>
            <input title= "Age" type="text" name="age" placeholder="Age">
            <h4>City</h4>
            <input title= "City" type="text" name="city" placeholder="City">
            <h4>Homepage</h4>
            <input title= "Homepage" type="text" name="homepage" placeholder="Homepage">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <br>
            <br>
<a href="{{signed}}">
        <button name="submit_button">Submit</button></a>

    </div>
    </form>
