
<div class="padding">
<h1>Give me your personal Info, {{name}} - its optional.</h1>

    <form method="POST">
    <div id="SignatureFieldValue">

            <h3>Age</h3>
            <input title= "Age" type="text" name="age" placeholder="Age">
            <h3>City</h3>
            <input title= "City" type="text" name="city" placeholder="City">
            <h3>Homepage</h3>
            <input title= "Homepage" type="text" name="homepage" placeholder="Homepage">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <br>
            <br>
<a href="{{signed}}">
        <button name="submit_button">Submit</button></a>

    </div>
    </form>
</div>
