<title>{{Title}}</title>

<h1>Login Process</h1>

<img src="/" alt="Picture" class="MainPicture">

    <form method="POST">
    <div id="SignatureFieldValue">
            <!-- <input title= "First Name" type="text" name="first_name" placeholder="First Name">
            <input title= "Last Name" type="text" name="last_name" placeholder="Last Name"> -->
            <input title= "Email" type="text" name="email" placeholder="Email">
            <input title= "Password" type="text" name="password" placeholder="Password">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <br>
            <br>

        <button type="submit" name="submit_button">Submit</button>

    </div>
    </form>
