
<div class="padding">
<h1>Login</h1>

<img src="atf1ietqwaxy.jpg" alt="Bug Picture" height="200" width="400">

<h4>No logins?</h4>
<a href="{{registration}}">Signup</a>

<div class="warning {{#if warning}}on {{/if}}">
    <p>There's something missing</p>
</div>

    <form method="POST">
    <div id="SignatureFieldValue">
            <input title= "Email" type="text" name="email" placeholder="Email">
            <input title= "Password" type="text" name="password" placeholder="Password">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <br>
            <br>

        <button type="submit" name="submit_button">Submit</button>

    </div>
    </form>

</div>
