

<div class="padding">
<div class="paragraphpetition">
<h2>Sign!</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
</div>

<img src="r_1290873_dKw89.jpg" alt="Bug Picture">


<div class="warning {{#if warning}}on {{/if}}">
    <p>There's something missing</p>
</div>

    <form method="POST">
    <div id="SignatureFieldValue">
            <input title="ValueCanv" type="hidden" name="input">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <canvas id="SignatureCanvas" width="600" height="100" style="border:1px solid #000000;"></canvas>


        <h4>Your Signature</h4>

        <button type="submit" name="submit_button">Submit</button>

        <div class="navi">
        <a href="{{delete}}"><h4>Delete Signature</h4></a>
        <a href="{{editProfile}}"><h4>EditProfile</h4></a>
        <a href="{{logout}}"><h4>Logout</h4></a>
    </div>

    </div>
    </form>
</div>
