
<div class="padding">

<h1>My Petition: ban all bugs from code.</h1>

<img src="documentation-where-were-going-we-dont-need-documentation.jpg" alt="Bug Picture">
<h2>Signup!</h2>
<h4>Already registered?</h4>
<a href="{{ToLogin}}">Login</a>

<div class="warning {{#if warning}}on {{/if}}">
    <p>There's something missing</p>
</div>
    <form method="POST">
    <div id="SignatureFieldValue">
            <input title= "First Name" type="text" name="first_name" placeholder="First Name">
            <input title= "Last Name" type="text" name="last_name" placeholder="Last Name">
            <input title= "Email" type="text" name="email" placeholder="Email">
            <input title= "Password" type="password" name="password" placeholder="Password">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <br>
            <br>

        <button type="submit" name="submit_button">Submit</button>

    </div>
    </form>
</div>
